{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Aluno</title>
    {% bootstrap_css %}
</head>
<body>
    <h1>Página aluno</h1>
    {% bootstrap_messages %}
    <form method="post" action="{% url 'aluno' %}" class="form" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Cadastrar Aluno
            </button>
        {% endbuttons %}

    </form>

{% bootstrap_javascript jquery='full' %}
</body>
</html>