{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Lista de alunos</title>
  {% bootstrap_css %}
</head>
<body>
<div class="container">
    <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Aluno</th>
      <th scope="col">Turma</th>
      <th scope="col">Número chamada</th>
    </tr>
    </thead>
    <tbody>
    {% for aluno in aluno %}
      <tr>
        <th scope="row">{{aluno.id}}</th>
        <td scope="row"><a href="#modal{{aluno.id}}"data-toggle="modal" data-target="#modal{{aluno.id}}">{{aluno.nome}}</a></td>
        <td scope="row">{{aluno.turma}}</td>
        <td scope="row">{{aluno.numero_chamada}}</td>

      </tr>

    {% endfor %}

    </tbody>
  </table>
</div>
    {% bootstrap_javascript jquery='full' %}


</body>
</html>