{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Frequência</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Página frequência</h1>
    {% bootstrap_messages %}
    <form method="post" action="{% url 'frequencia' %}" class="form" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Salvar
            </button>
        {% endbuttons %}

    </form>
    </div>
</body>
</html>